# Chnage this to your backend urL!
# Can be a local IP or URL
# You can use https://backend.learn.iddu01.me if you dont have a backend
NEXT_PUBLIC_BACKEND_URL=https://backend.learn.iddu01.me
# If this is set to true, make sure to specify your
# Gemini API key below, or else frontend will crash!
NEXT_PUBLIC_AI_FEATURES_ENABLED=false
# This is the Gemini API key used for "Why was I wrong?"
# Make sure you keep this safe!
GEMINI_API_KEY=